<div>
  <br>
  <br>
  <!-- <div>  <app-loading *ngIf="commonService.loading==true"></app-loading> -->
  <!-- </div> -->
  <br>
  <mat-form-field class="example-container " style=" padding-left: 1%; width: 100%!important;">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>

</div>

<div class="">

  <table matSort class="   table-responsive  table-bordered  table-striped  table-hover" mat-table #table
    [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Row </th>
      <td mat-cell *matCellDef="let row;let index = index"> {{index+1}} </td>
      <td mat-footer-cell *matFooterCellDef>
        <p style="min-width:160px ;font-weight: bold;">Add </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="TITLE_SAPRO">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>TITLE_SAPRO</th>
      <td style="cursor: pointer ;" mat-cell *matCellDef="let element" (click)="selectRow(element)">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.TITLE_SAPRO" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.TITLE_SAPRO}}</p>

      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="TITLE_SAPRO" [(ngModel)]="newRowObj.TITLE_SAPRO" type="text">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="STATUS_SAPRO">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>STATUS_SAPRO</th>
      <td style="cursor: pointer ;" mat-cell *matCellDef="let element" (click)="selectRow(element)">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.STATUS_SAPRO" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.STATUS_SAPRO}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="STATUS_SAPRO" [(ngModel)]="newRowObj.STATUS_SAPRO" type="text">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="ADDRESS_SAPRO">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>ADDRESS_SAPRO</th>
      <td style="cursor: pointer ;" mat-cell *matCellDef="let element" (click)="selectRow(element)">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.ADDRESS_SAPRO" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.ADDRESS_SAPRO}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="ADDRESS_SAPRO" [(ngModel)]="newRowObj.ADDRESS_SAPRO" type="text">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="countryName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>countryName</th>
      <td style="cursor: pointer ;" mat-cell *matCellDef="let element" (click)="selectRow(element)">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.countryName" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.countryName}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="countryName" [(ngModel)]="newRowObj.countryName" type="text">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="sensorNumber">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>sensorNumber</th>
      <td style="cursor: pointer ;" mat-cell *matCellDef="let element" (click)="selectRow(element)">
        <mat-form-field *ngIf="edit" class="example-full-width" appearance="fill">
          <input matInput *ngIf="edit" [placeholder]="" [(ngModel)]="element.sensorNumber" type="text">
        </mat-form-field>
        <p *ngIf="!edit">{{element.sensorNumber}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field style="max-height: 52px;" class="example-full-width" appearance="fill">
          <input matInput placeholder="sensorNumber" [(ngModel)]="newRowObj.sensorNumber" type="text">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>process </th>
      <td mat-cell *matCellDef="let row;let index = index">
        <i *ngIf="edit==false " class="fa fa-pencil-square-o iconEdit" (click)="editRow(row)"></i>
        <i *ngIf="edit==true && row.editable==true" class="fa fa-check-square-o iconOk" (click)="updateRow(row)"></i>
        <i *ngIf="edit==false " class="fa fa-trash iconDelete" (click)="deleteRow(row)"></i>
      </td>
      <td mat-footer-cell *matFooterCellDef="let row;let index = index">
        <i *ngIf="edit==false " class="fa fa-plus-square iconAdd" (click)="addRow()"></i>
      </td>
    </ng-container>

    <tr (click)="selectRow(row)" mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr style="background-color: rgb(192, 203, 238);" mat-footer-row *matFooterRowDef="displayedColumns ; sticky: true">

    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 100]"></mat-paginator>

</div>