<!-- <mat-card class="titrCard">
  <h2 style="text-align: center;font-weight: bold;" class="titrLogin">
wellcome  </h2>
</mat-card> -->
<div style="  height: 89.9%; background-image: url('../assets/blackboard.jpg');">
<mat-card class="card">
  <mat-card-header>

  </mat-card-header>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="center" (keydown)="keyDownFunction($event)">
    <!-- <img class="logoHse full-width"   src="../assets/hseIcon.png"> -->



    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="username" formControlName="username" />
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="password" formControlName="password" />
    </mat-form-field>
    <br>

    <!-- <mat-progress-bar class="full-width"  *ngIf="commonService.loading==true" mode="indeterminate"></mat-progress-bar> -->


    <br>
    <button style="color: white; background-color: #00338f; border-radius: 10px;" *ngIf="connectToServer" mat-raised-button type="submit">
      <!-- <i class="fa fa-key fa-spin 1a-3x fa-fw" style="padding: 2px;" aria-hidden="true"></i> ورود</button> <mat-spinner [diameter]="20"    *ngIf="commonService.loading==true"  style="   position: absolute; margin-right: 48%;" ></mat-spinner>  -->
      <i class="fa fa-key " style="padding: 2px; cursor: pointer;" aria-hidden="true"></i> Sign in 
      &nbsp;
      &nbsp;
      &nbsp;

    </button>


    <br>
    <button disabled *ngIf="!connectToServer" mat-raised-button type="submit" color="primary">
      <!-- <i class="fa fa-key fa-spin 1a-3x fa-fw" style="padding: 2px;" aria-hidden="true"></i> ورود</button> <mat-spinner [diameter]="20"    *ngIf="commonService.loading==true"  style="   position: absolute; margin-right: 48%;" ></mat-spinner>  -->
      <i class="fa fa-key " style="padding: 2px;" aria-hidden="true"></i> Sign in
    </button>




    <mat-spinner  class="about" [diameter]="30"  >
    </mat-spinner>

    <!-- <mat-progress-bar *ngIf="commonService.loading==true" mode="indeterminate"></mat-progress-bar> -->
  </form>
  <!-- <mat-card-footer *ngIf="message != null ">
    <p class="error">
      {{message}}
    </p>
  </mat-card-footer> -->
  <mat-card-actions style="text-align: center;">
  

  
<!--   
  <img class="iconFolad"  src="../assets/foolad.svg">
  <img class="logoIrisa "   src="../assets/IrisaPlus.svg">
 -->

  <br>
  <br>
  

     
    
          <!-- <p class="about">تمامی حقوق این سامانه برای شرکت فولاد مبارکه اصفهان محفوظ است</p>
          <br> -->
     
          <!-- <a  target="_blank" href="https://www.linkedin.com/in/mohammad-naghsh-40aa0360"> 
            <h5 class="about">Mohammad Naghsh</h5> </a> -->
            <!-- <h6 class="about"> &nbsp; By &nbsp;</h6>
            <i style="color: purple !important;" class="fa fa-heart" aria-hidden="true"></i>
  
            <h6 class="about" >&nbsp; Made With&nbsp;</h6> -->


  </mat-card-actions>
</mat-card>


<!-- <img class="image" src="./assets/index.jpg" width="60px"> -->
<router-outlet></router-outlet>